<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/note.css">
  <title>Novel Thoughts</title>
</head>

<body>
  <header>
    <div class="header">
      Glance A Country From A Novel
    </div>
  </header>
  <div class="main_content">
    <div class="article">
      <div class="card">
        <div class="img">
          <img src="../styles/src.jpeg" width="300px" height="400px">
        </div>
        <div class="card_content">
          <div class="title">This is a title</div>
          <div class="info">Date read: 2022-02-18   Location: Paris, France</div>
          <div class="recommend">How strongly I recommend it: 2/10</div>
          <div class="summary">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </div>
          <div class="link">
            <a href="/note/1">Read my notes</a>, or go to the Amazon page for details and reviews.
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="footer">
      <% const yr = new Date().getFullYear() %>
      <p>Copyright © <%=yr%> Althea Chu</p>
    </div>
  </footer>
</body>

</html>