@import url("basic.css");

.leftside {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-top: 2vh;
  text-align: center;
  font-size: 2em;
}

.article {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 5vh;
}

.card {
  height: auto;
  margin-bottom: 5vh;
}

.title {
  font-size: 1.5em;
  margin-top: 2vh;
  margin-bottom: 4vh;
}

.note_title {
  font-size: 1.5em;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.info{
  font-size: 20px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.link{
  font-size: 1.2em;
  margin-top: 5vh;
  margin-bottom: 8vh;
}